<HeadLayout />

{{title "Justiciapedia - RedCiudadana"}}

{{!-- Navbar --}}
<nav class="bg-white" role="navigation" aria-label="Main">
  <div class="block sm:flex flex-wrap items-center justify-center lg:justify-between py-4 lg:w-10/12 lg:mx-auto">
    {{!-- Brand --}}
    <div class="flex-shrink-0">
      <span class="font-weight-bold text-4xl">
        Justiciapedía
      </span>
    </div>
    {{!-- Navigation links --}}
    <div class="block sm:flex">
      <LinkTo class="block mt-4 lg:inline-block lg:mt-0 mr-6 text-primary text-xl hover:text-gray-900" @route="perfiles"
        @model={{"instituciones"}} @query={{hash sector="justicia"}}>
        Sector Justicia
      </LinkTo>
      <LinkTo class="block mt-4 lg:inline-block lg:mt-0 mr-6 text-primary text-xl hover:text-gray-900" @route="perfiles"
        @model={{"elecciones"}}>
        Comisiones de Postulación
      </LinkTo>
      <LinkTo class="block mt-4 lg:inline-block lg:mt-0 mr-6 text-primary text-xl hover:text-gray-900" @route="perfiles"
        @model="perfiles">
        Perfiles
      </LinkTo>
      <LinkTo class="block mt-4 lg:inline-block lg:mt-0 text-primary text-xl hover:text-gray-900" @route="preguntas">
        Preguntas frecuentes
      </LinkTo>
    </div>
  </div>
</nav>

<main>
  {{outlet}}
</main>