{{!-- HTML title: 'Nombres Apellidos' --}}
{{title model.profile.nombre replace=true}}

<div class="w-100 bg-light perfil-container">
  <section class="container profile my-4 py-4">

    {{#if (not this.applicationController.embed)}}
      <ProfileFunctionalities @model={{model}} @embed={{this.applicationController.embed}} />
    {{!-- {{else}}
      <LinkTo @route="perfil.index" @models={{array "instituciones" model.profile.id}}>
        Atras
      </LinkTo> --}}
    {{/if}}

    {{outlet}}

    {{!-- Deshabilitando diqus --}}
    {{!-- {{disqus-panel profile=model.profile}} --}}

  </section>
</div>
