<div class="container mx-auto">
  <div class="flex flex-wrap justify-center">
    <div class="md:w-2/3 pr-4 pl-4 py-5">
      <h2>Buscar perfiles</h2>
      <PowerSelect
        @placeholder="Busqueda"
        @searchEnabled={{true}}
        @searchField="nombre"
        @options={{model}}
        @onChange={{action "toProfile"}} as |profile|>
        {{profile.nombre}}
      </PowerSelect>
      {{#if (eq model.firstObject._internalModel.modelName "profile")}}
        <PowerSelect
          class="my-auto ml-2 w-full"
          @placeholder="Filtrar por institución"
          @searchEnabled={{true}}
          @searchField="nombre"
          @allowClear="true"
          @selected={{this.inInstitution}}
          @options={{this.institutions}}
          @onChange={{action (mut this.inInstitution)}} as |profile|>
          {{profile.nombre}}
        </PowerSelect>
        <nav class="flex flex-wrap list-reset pl-0 mb-0 justify-center">
          <div class="relative flex items-stretch w-full  bg-grey-lightest rounded-pill px-3 py-2 w-auto mx-2">
            <label class="my-auto" for="isMujer">Mujer</label>
            <Input class="my-auto ml-2" @type="checkbox" @checked={{this.isMujer}} />
          </div>
          <div class="relative flex items-stretch w-full  bg-grey-lightest rounded-pill px-3 py-2 w-auto mx-2">
            <label class="my-auto" for="isVaron">Hombre</label>
            <Input class="my-auto ml-2" @type="checkbox" @checked={{this.isVaron}} />
          </div>
        </nav>
      {{/if}}
    </div>
  </div>
</div>

<Portfolio
  @bg="light"
  @profiles={{this.profiles}}
  />

<div class="w-full bg-grey-lightest">
  <div class="container mx-auto">
    <div class="flex flex-wrap text-center">
      <div class="mx-auto">
        <nav aria-label="Page navigation example">
          <ul class="flex list-reset pl-0 rounded">
            <li class="page-item">
              <button class="relative block py-2 px-3 -ml-px leading-normal text-blue bg-white border border-grey no-underline hover:text-blue-darker hover:bg-grey-light" href="#" aria-label="Previous" {{on "click" this.prevPage}}>
                <span aria-hidden="true">&laquo;</span>
                <span class="">Previous</span>
              </button>
            </li>
            {{#each this.pages as |page|}}
              <li class="page-item {{if (eq this.page page) "active"}}">
                <button class="relative block py-2 px-3 -ml-px leading-normal text-blue bg-white border border-grey no-underline hover:text-blue-darker hover:bg-grey-light" {{on "click" (fn this.selectPage page)}}>
                  {{page}}
                </button>
              </li>
            {{/each}}
            <li class="page-item">
              <button class="relative block py-2 px-3 -ml-px leading-normal text-blue bg-white border border-grey no-underline hover:text-blue-darker hover:bg-grey-light" href="#" aria-label="Next" {{on "click" this.nextPage}}>
                <span aria-hidden="true">&raquo;</span>
                <span class="">Next</span>
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    {{#if (eq model.firstObject._internalModel.modelName "institution")}}
      {{!-- Organigrama --}}
      <div class="flex flex-wrap">
        <div class="w-full">
          <div class="panel">
            <div class="header flex bg-blue">
              <img src="img/i-orgchart.png" alt="Iconos de personas">
              <h3>Sector Justicia</h3>
            </div>
            <div>
              <div class="body p-4">
                <Orgchart class="w-full bg-red" />
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>
